@import 'tailwindcss';

@theme {
  --font-heading: 'Gloock', serif;
  --font-main: 'Outfit', sans-serif;
  --font-courier: 'Courier', sans-serif;
  --color-darkGray: #363537;
  --font-weight-extraLight: 100;
  --font-size-bigV: 45px;
  --color-primary: var(--color-primary);
  --grid-template-rows-main: 0.5fr 4.5fr 100px;
}

/* Light theme - colors only */
[data-theme='light'],
:root {
  --color-primary: #547ca6;
  /* All your light mode colors */
}

/* Dark theme - colors only */
[data-theme='dark'] {
  --color-primary: #73aae2;
  /* All your dark mode colors */
}

/* global styles */
h1 {
  margin: 0px;
  font-size: 38px;
}
h2,
h3,
h4,
p {
  margin: 0px;
}
h5 {
  margin: 3px 0px;
}
hr {
  margin: 0px;
  border-style: solid;
}
ul {
  padding: 0px;
  margin: 0px 0px 0px 22px;
  list-style-type: circle;
}
span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.italic {
  font-style: italic;
}
.inset {
  margin: 0 20px 5px;
}
/* a:hover, */
button:hover {
  cursor: pointer;
}

/* toggle switch (adapted from W3schools) */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 28px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #bfbcbc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* transitions */
.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #747276;
}
input:focus + .slider {
  box-shadow: 0 0 1px rgb(54, 53, 55);
}
input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}
