button:hover{
    cursor: pointer;
}
.app{
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}
#header{
    padding: 0 10%;
}
#mid{
    padding: 0 10%;
}
#footer{
    padding: 0 10%;
}