/* * {
    font-family: avenir, helvetica, sans-serif;
} */
button:hover{
    cursor: pointer;
}
body{
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}
#top{
    background-color: rgb(240, 211, 137);
    padding: 0 10%;
}
#mid{
    background-color: rgb(192, 182, 182);
    padding: 0 10%;
}
#foot{
    background-color: pink;
    padding: 0 10%;
}